 /* CSS Document */
         body {
			background-color: #DEF1E2;
			margin-left: 150px;
			}
		  

			h3  {
	    color: #9D6455;
		
								}
.bold {
	color: black
}
				h1 {
			font-family: 'Coda Caption', sans-serif;
			color: #BAC3C3;
			text-align: center;
		}  /*Grill’n Chill’n Restaurant*/
		h2 {color: #9D6455;
			text-align: center;
			
	

		} /*We bring the outdoor cooking inside for your pleasure.*/	